*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles
.env
.DS_Store
*.log
*.pot
*.py[cod]
*.swp
*~
*.bak
*.tmp
*.coverage
.coverage.*
.cache
.pytest_cache/
celerybeat-schedule
*.pid
*.seed
*.backup
*.log
*.out
*.err
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/venv/